In [383]:
import pandas as pd
import numpy as np
df = pd.read_csv('cars.csv')

#Display the first few rows of the dataset
#print(df.head())
df.describe()

   year make   model        trim body transmission                vin  \
0  2002   vw   jetta    gls 1.8t  NaN          NaN  3vwse29m02m183926
1  2011   vw   jetta  comfrtline  NaN          NaN  3vwdl7ajxbm007124
2  2014   vw  routan          se  NaN    automatic  2c4rvabg5er135156
3  1999   vw  beetle     gls tdi  NaN       manual  3vwcf21c7xm463810
4  2011   vw   jetta  comfrtline  NaN          NaN  3vwdk7aj4bm008711

   odometer  color interior                      seller      mmr  \
0  123304.0  black      NaN  era classic auto sales ltd   1425.0
1   80150.0  black    black       vw credit canada  inc   9850.0
2   13556.0  black     gray                   vw credit  21000.0
3  276953.0   blue     gray   burnsville volkswagen inc   1125.0
4  110754.0   blue    black       vw credit canada  inc   8600.0

   sellingprice                                 saledate
0        2150.0  Thu Dec 18 2014 18:30:00 GMT-0800 (PST)
1       13400.0  Tue Jan 06 2015 02:00:00 GMT-0800 (PST)
2       22200.0  Tue Jan 13 2015 10:00:00 GMT-0800 (PST)
3        1500.0  Thu Dec 18 2014 10:45:00 GMT-0800 (PST)
4        8400.0  Tue Jan 06 2015 02:00:00 GMT-0800 (PST)

In [385]:
#Information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   odometer      558743 non-null  float64
 8   color         533377 non-null  object
 9   interior      541011 non-null  object
 10  seller        558837 non-null  object
 11  mmr           558825 non-null  float64
 12  sellingprice  558825 non-null  float64
 13  saledate      558799 non-null  object
dtypes: float64(3), int64(1), object(10)
memory usage: 59.7+ MB

In [386]:
#Check for missing values
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
odometer           94
color           25460
interior        17826
seller              0
mmr                12
sellingprice       12
saledate           38
dtype: int64

In [387]:
#Drop rows with missing values
df = df.dropna()
df1 = df.reset_index(drop=True)
df1

,year,make,model,trim,body,transmission,vin,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Volvo,XC70,T6,Wagon,automatic,yv4902nb3f1196951,12725.0,beige,beige,volvo na rep/world omni,32300.0,32500.0,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
1,2005,Volvo,XC90,T6,SUV,automatic,yv1cz911751162959,107449.0,beige,beige,jpmorgan chase bank n.a.,5325.0,5600.0,Thu Dec 18 2014 09:20:00 GMT-0800 (PST)
2,2004,Volvo,XC90,T6,SUV,automatic,yv1cz91h541092227,139564.0,beige,beige,paul anthony auto group llc,3400.0,2800.0,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)
3,2003,Volvo,XC70,Base,Wagon,automatic,yv1sz59h631098609,175011.0,beige,gray,luxury imports auto sales inc,1475.0,1100.0,Thu Dec 18 2014 10:45:00 GMT-0800 (PST)
4,2002,Volvo,S80,2.9,Sedan,automatic,yv1ts92d821269690,107963.0,beige,gray,pohanka acura,1775.0,2000.0,Thu Dec 18 2014 09:50:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446234,2012,Acura,MDX,Technology Package,suv,automatic,2hnyd2h3xch515972,26260.0,white,tan,braman motors,29600.0,28000.0,Wed Jun 17 2015 17:00:00 GMT-0700 (PDT)
446235,2010,Acura,RDX,Base,suv,automatic,5j8tb2h53aa004835,54251.0,white,black,high bid trading co inc,17050.0,15750.0,Wed Jun 17 2015 05:15:00 GMT-0700 (PDT)
446236,2013,Acura,RDX,Technology Package,suv,automatic,5j8tb4h51dl015921,32483.0,white,beige,honda r&d americas inc,28100.0,29000.0,Fri Jun 19 2015 05:00:00 GMT-0700 (PDT)
446237,2011,Acura,RDX,SH-AWD,suv,automatic,5j8tb1h21ba001806,79007.0,white,black,congers auto sales inc,16150.0,16500.0,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
446238,2013,Acura,TSX,Base,sedan,automatic,jh4cu2f42dc000429,17247.0,white,beige,acura of las vegas,20800.0,21200.0,Fri Jun 19 2015 04:55:00 GMT-0700 (PDT)

In [388]:
#Identify duplicates
print(df1.duplicated().sum())

#Remove duplicates
#df_no_duplicates = df.drop_duplicates()

0

In [389]:
df1.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [390]:
df1.to_csv('final.csv')
df2 = pd.read_csv('final.csv', index_col = 0)
df2

,year,make,model,trim,body,transmission,vin,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Volvo,XC70,T6,Wagon,automatic,yv4902nb3f1196951,12725.0,beige,beige,volvo na rep/world omni,32300.0,32500.0,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
1,2005,Volvo,XC90,T6,SUV,automatic,yv1cz911751162959,107449.0,beige,beige,jpmorgan chase bank n.a.,5325.0,5600.0,Thu Dec 18 2014 09:20:00 GMT-0800 (PST)
2,2004,Volvo,XC90,T6,SUV,automatic,yv1cz91h541092227,139564.0,beige,beige,paul anthony auto group llc,3400.0,2800.0,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)
3,2003,Volvo,XC70,Base,Wagon,automatic,yv1sz59h631098609,175011.0,beige,gray,luxury imports auto sales inc,1475.0,1100.0,Thu Dec 18 2014 10:45:00 GMT-0800 (PST)
4,2002,Volvo,S80,2.9,Sedan,automatic,yv1ts92d821269690,107963.0,beige,gray,pohanka acura,1775.0,2000.0,Thu Dec 18 2014 09:50:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446234,2012,Acura,MDX,Technology Package,suv,automatic,2hnyd2h3xch515972,26260.0,white,tan,braman motors,29600.0,28000.0,Wed Jun 17 2015 17:00:00 GMT-0700 (PDT)
446235,2010,Acura,RDX,Base,suv,automatic,5j8tb2h53aa004835,54251.0,white,black,high bid trading co inc,17050.0,15750.0,Wed Jun 17 2015 05:15:00 GMT-0700 (PDT)
446236,2013,Acura,RDX,Technology Package,suv,automatic,5j8tb4h51dl015921,32483.0,white,beige,honda r&d americas inc,28100.0,29000.0,Fri Jun 19 2015 05:00:00 GMT-0700 (PDT)
446237,2011,Acura,RDX,SH-AWD,suv,automatic,5j8tb1h21ba001806,79007.0,white,black,congers auto sales inc,16150.0,16500.0,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
446238,2013,Acura,TSX,Base,sedan,automatic,jh4cu2f42dc000429,17247.0,white,beige,acura of las vegas,20800.0,21200.0,Fri Jun 19 2015 04:55:00 GMT-0700 (PDT)

In [420]:
df3 = df2.drop(['model','interior','seller','saledate','transmission','trim', 'vin', 'color', 'body'], axis = 'columns')
dummies = pd.get_dummies(df3.make).astype(np.int8)
dummies.drop(['Volvo', 'Acura', 'Audi', 'BMW', 'Lamborghini'], axis = 'columns')
#dummies_final
dummies_update = dummies[['Volvo', 'Acura', 'Audi', 'BMW', 'Lamborghini']]

#merging the dummies and variable
merged = pd.concat([df3, dummies_update], axis = 'columns')
merged

,year,make,odometer,mmr,sellingprice,Volvo,Acura,Audi,BMW,Lamborghini
0,2015,Volvo,12725.0,32300.0,32500.0,1,0,0,0,0
1,2005,Volvo,107449.0,5325.0,5600.0,1,0,0,0,0
2,2004,Volvo,139564.0,3400.0,2800.0,1,0,0,0,0
3,2003,Volvo,175011.0,1475.0,1100.0,1,0,0,0,0
4,2002,Volvo,107963.0,1775.0,2000.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
446234,2012,Acura,26260.0,29600.0,28000.0,0,1,0,0,0
446235,2010,Acura,54251.0,17050.0,15750.0,0,1,0,0,0
446236,2013,Acura,32483.0,28100.0,29000.0,0,1,0,0,0
446237,2011,Acura,79007.0,16150.0,16500.0,0,1,0,0,0
446238,2013,Acura,17247.0,20800.0,21200.0,0,1,0,0,0

In [421]:
final = merged.drop(['make'], axis = 'columns')
final = final.drop_duplicates()
print(final.duplicated().sum())

0

In [422]:
final.to_csv('final_test.csv')
finale = pd.read_csv('final_test.csv', index_col = 0)
finale = finale.drop_duplicates()
finale

,year,odometer,mmr,sellingprice,Volvo,Acura,Audi,BMW,Lamborghini
0,2015,12725.0,32300.0,32500.0,1,0,0,0,0
1,2005,107449.0,5325.0,5600.0,1,0,0,0,0
2,2004,139564.0,3400.0,2800.0,1,0,0,0,0
3,2003,175011.0,1475.0,1100.0,1,0,0,0,0
4,2002,107963.0,1775.0,2000.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
446234,2012,26260.0,29600.0,28000.0,0,1,0,0,0
446235,2010,54251.0,17050.0,15750.0,0,1,0,0,0
446236,2013,32483.0,28100.0,29000.0,0,1,0,0,0
446237,2011,79007.0,16150.0,16500.0,0,1,0,0,0
446238,2013,17247.0,20800.0,21200.0,0,1,0,0,0

In [412]:
print(finale.duplicated().sum())

0

In [417]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

finale = pd.read_csv('final_test.csv', index_col = 0)
x = finale.drop(columns = ['sellingprice'])
y = finale['sellingprice']

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

model = DecisionTreeClassifier()

model.fit(x_train, y_train)
predictions = model.predict(x_test)

model.predict([[2014, 100000, 40000, 0, 1, 0, 0, 0]])

/root/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([38000.])

In [418]:
model.predict([[2015,140000, 35000, 1, 0, 0 , 0 , 0]])

/root/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([34300.])

In [423]:
model.score(x,y)

0.804719697903477